# Project scripts
/scripts/
/build/
/slamhaus
/output/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Editor swap/backup files
*~
*.swp
*.swo
*.bak

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app